@use 'variables' as *;   // <-- подтягиваем все переменные из _variables.scss

@mixin card {
  background: $color-surface;
  border: 1px solid $color-border;
  border-radius: $radius;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}